:root {
    --palette1: rgb(27, 27, 30);
    --palette2: rgb(121, 6, 26);
    --palette3: rgb(109, 103, 110);
    --palette4: rgb(251, 255, 254);
    --palette5: rgb(250, 169, 22);

    --themeColor: rgb(150, 3, 26);
    --anchorColor: rgb(206, 0, 29);

    scroll-behavior: smooth;
}

::selection {
    color: white;
    background: rgb(150, 50, 50);
}

body {
    text-align: center;
    display: flex;
    flex-flow: column;
}
main {
    display: flex;
}

section.content {
    flex: 80;
}
aside {
    flex: 20;
    border: 1px solid var(--palette2);
    margin-right: 5px;
}
nav {
    position: sticky;
    top: 0;
    margin-top: 32px;
}
aside a {
    display: block;
    width: 80%;
    transition: width 0.1s;
}
aside a:hover {
    width: 90%;
}
footer div, footer a {
    color: white;
    border: none;
}


@media(max-width: 1000px) {
    aside a {
        margin: 4px auto;
    }

    main {
        flex-flow: column;
    }
    section.content {
        width: 100%;
    }
    aside {
        width: 100%;
    }
    footer {
        width: 100%;
    }
}



p {
    font-size: 20px;
}

a {
    font-weight: 800;
    font-size: 20px;
    color: var(--anchorColor);
    border: solid 1px var(--anchorColor);
    border-radius: 5px;
    padding: 2px 4px;
    margin: 4px 8px;
    text-decoration: none;
}
a:hover {
    color: white;
    background-color: var(--anchorColor);
}



hr {
    margin: 50px auto;
    height: 2px;
    background-color: black;
    width: 0;
    animation: hrAnimation ease-out 1s forwards;
}
@keyframes hrAnimation {
    from {
        width: 0;
    } to {
        width: 90%;
    }
}


table {
    background-color: rgba(109,103, 110, 0.3);
    margin: 16px auto;
    border-collapse: collapse;
    width: unset;
}
table td {
    width: 50%;
}
table td, table th {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(109, 103, 110);
    color: white;
}
table tr:nth-child(even){background-color: rgba(109, 103, 110, 0.1);}
table tr:hover {background-color: rgba(109, 103, 110, 0.5);}


/* title for different sections */
.title {
    background-color: var(--palette2);
    color: white;
    padding: 32px;
    margin: 32px 0;
    font-size: 64px;
}
.title img {
    width: 100px;
    height: 100px;
    float: left;
}

div.articleContainer {
    display: flex;
    flex-flow: column;
}
div.articleContainer article {
    padding: 32px;
    display: flex;
    flex-flow: row;
    flex-direction: row;
}
div.articleContainer article:nth-child(even) {
    flex-direction: row-reverse;
}
div.articleContainer article img {
    padding: 64px;
}
@media(max-width: 1000px) {
    div.articleContainer article img {
        margin: 0 auto;
    }
    div.articleContainer article {
        flex-flow: column !important;
    }
}


.portfolio div {
    display: inline-block;
    width: 500px;
    padding: 16px;
    margin: 16px auto;
    border: solid 1px black;
}
@media(max-width: 1000px) {
    .portfolio div {
        display: block;
    }
}


.colorBox {
    color: rgb(251, 255, 254);
    background-color: var(--themeColor);
    padding: 32px;
    margin: 32px 0;
}
.textBox {
    color: black;
    background-color: white;
    padding: 16px;
    margin: 0 10%;
    border-radius: 16px;
}



.stripesContainer {
    height: auto;
    color: #4c3f2e;
    position: relative;
    overflow: hidden;
    padding: 1rem;
}
.stripesContainer:before, .stripesContainer:after {
    content: '';
    background-color: rgb(121, 6, 26);
    width: 5%;
    height: 100%;
    position: absolute;
    top: 0;
}
.stripesContainer:before { left: 0; }
.stripesContainer:after { right: 0; }
.stripes {
    position: absolute;
    left: -23px;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: repeating-linear-gradient(
            -55deg,
            rgb(121, 6, 26) 1px,
            rgb(71, 58, 58) 2px,
            rgb(71, 58, 58) 11px,
            rgb(121, 6, 26) 12px,
            rgb(121, 6, 26) 20px
    ) fixed;
    animation: stripesAnimation linear 2s infinite;
}
@keyframes stripesAnimation {
    from{
        transform: translateX(0);
    }
    to {
        transform: translateX(23px);
    }
}