:root {
    --palette1: rgb(27, 27, 30);
    --palette2: rgb(121, 6, 26);
    --palette3: rgb(109, 103, 110);
    --palette4: rgb(251, 255, 254);
    --palette5: rgb(250, 169, 22);

    --themeColor: rgb(150, 3, 26);
    --anchorColor: rgb(206, 0, 29);

    scroll-behavior: smooth;
}

::selection {
    color: white;
    background: rgb(150, 50, 50);
}

body {
    text-align: center;
}
main {

}
footer {

}

p {
    font-size: 20px;
}

a {
    font-weight: 800;
    font-size: 20px;
    color: var(--anchorColor);
    border: solid 1px var(--anchorColor);
    border-radius: 5px;
    padding: 2px 4px;
    margin: 4px 8px;
    text-decoration: none;
}
a:hover {
    color: black;
    background-color: var(--anchorColor);
}



hr {
    margin: 50px auto;
    height: 2px;
    background-color: black;
    width: 0;
    animation: hrAnimation ease-out 1s forwards;
}
@keyframes hrAnimation {
    from {
        width: 0;
    } to {
        width: 90%;
    }
}


table {
    background-color: rgba(109,103, 110, 0.3);
    margin: 16px auto;
    border-collapse: collapse;
    width: unset;
}
table td {
    width: 50%;
}
table td, table th {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}
table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(109, 103, 110);
    color: white;
}
table tr:nth-child(even){background-color: rgba(109, 103, 110, 0.1);}
table tr:hover {background-color: rgba(109, 103, 110, 0.5);}

.colorBox {
    color: rgb(251, 255, 254);
    background-color: var(--themeColor);
    padding: 32px;
    margin: 32px 0;
}
.textBox {
    color: black;
    background-color: white;
    padding: 16px;
    margin: 0 10%;
}



.stripesContainer {
    height: auto;
    color: #4c3f2e;
    position: relative;
    overflow: hidden;
    padding: 1rem;
}
.stripesContainer:before, .stripesContainer:after {
    content: '';
    background-color: rgb(121, 6, 26);
    width: 3%;
    height: 100%;
    position: absolute;
    top: 0;
}
.stripesContainer:before {
    left: 0;
}
.stripesContainer:after {
    right: 0;
}
.stripes {
    position: absolute;
    left: -46px;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: repeating-linear-gradient(
            -55deg,
            rgb(121, 6, 26) 1px,
            rgb(71, 58, 58) 2px,
            rgb(71, 58, 58) 11px,
            rgb(121, 6, 26) 12px,
            rgb(121, 6, 26) 20px
    ) fixed;
    animation: stripesAnimation linear 1s infinite;
}
@keyframes stripesAnimation {
    from{
        transform: translateX(0);
    }
    to {
        transform: translateX(46px);
    }
}